body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:black;
}
.classe-bot達oC{
    height: 70px;
    width: 80px;
    border-radius: 35px;
    font-size: 40px;
    background-color: rgb(34, 34, 34);
    color: rgb(163, 70, 70);
    border-bottom-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-style: none;
}
.classe-bot達o-de-Conta{
    height: 70px;
    width: 80px;
    border-radius: 35px;
    font-size: 40px;
    background-color: rgb(34, 34, 34);
    color:rgba(0, 128, 0, 0.767);
    text-align: center;
    border-bottom-style: none;
    margin-bottom: 10;
    cursor: pointer;
    border-style: none;
}
.classe-bot達o-numericos{
    height: 70px;
    width: 80px;
    border-radius: 35px;
    font-size: 40px;
    background-color: rgb(34, 34, 34);
    color:white;
    text-align: center;
    border-bottom-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-style: none;
}
.classe-bot達o-soma{
    height: 70px;
    width: 80px;
    border-radius: 35px;
    font-size: 40px;
    background-color: green;
    color:white;
    text-align: center;
    border-bottom-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-style: none;
}
main{
    height: 914;
    width: 412;
    margin: auto;
}
.top{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: white;
    margin-bottom: 200px;
    align-items: flex-end;
}
